body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightsteelblue;
}

.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    width: 100%;
    max-width: 400px; /* Adjust the max width as necessary */
}

form {
    margin-bottom: 20px;
}

.register-link {
    margin-top: 10px;
}

.post-list {
    list-style-type: none; /* Removes bullet points */
    padding: 0;            /* Removes default padding */
    margin: 0;             /* Removes default margin */
}

.post-item {
    margin-bottom: 20px;   /* Adds some space between posts */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9; /*Light background color for posts */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*Adds a subtle shadow */
}
